{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 80,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "pluginSearchDirs": ["."],
    "plugins": ["prettier-plugin-tailwindcss"]
}